.wrap {
    margin: 0 auto;
    max-width: 1250px;
    height: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.intro {
    margin-top: 15px;
    margin-bottom: 40px;
	text-align: justify;
}

.info {
    text-align: justify;
    padding: 10px;
    display: inline-block;
}

.nofloat {
    float: none;
}

.copyright {
    margin-top: 30px;
    color: #333;
}

.external:after {
    font-family: FontAwesome;
    content: "\f08e";
    padding-left: 5px;
    font-size: 12px;
}

.arrow:after{
	font-family: FontAwesome;
	content: "\f105";
	padding-left: 5px;
	font-size: 24px;
}

.contact-details {
    padding: 30px;
}

#index {
    height: 100%;
    width: 100%;
    padding: 0px;
    position: relative;
    display: block;
    overflow: auto;
}

#index .content {
    color: #FFF;
    text-align: center;
    background-color: rgba(255,255,255,0);
    padding: 12px;
}

#index .summary {
    padding: 30px;
    border-radius: 50px;
}

#index .summary .summary-item {
    padding-bottom: 0px;
	padding-top: 20px;
}

#index .summary .summary-item p {
    padding: 20px;
    text-align: justify;
}

#index .summary .fa{
    color: white;
}

#index .summary .fa:hover{
    color: #0A8FD5;
}

#navbar .container {
    padding: 15px;
}

#navigation {
    margin-top: 10px;
}

.navbar {
    padding: 0px;
}

.navbar-collapse {
	padding-right: 0px;
}

.navbar-nav {
    margin-left: -10px;
    margin-right: 0;
}

.navbar-header {
    margin: 0 !important;;
}

.navbar-header button {
    color: white;
    margin: 0px;
}

.navbar-header img {
    margin-top: 9px;
}

.brand-name .fa {
    margin-bottom: 15px;
}

.intro-content p {
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.9);
	color: black;
    padding: 30px;
    border-radius: 0px;
}

.submenu-content {
    padding: 35px 18px;
}

#submenu {
    text-align: center;
    margin: 20px;
    padding: 70px 0;
}

#submenu nav {
    background-color: rgba(206, 216, 253, 1);
    height: auto;
}

#submenu nav ul {
    margin: 4px;
    padding: 0;
}

#submenu nav li {
    display: inline-block;
    margin: 2px 15px;
}

#submenu h1 {
    margin-bottom: 40px;
}

#submenu nav {
    margin-top: 20px;
}

#submenu .submenu-content p {
    text-align: justify;
    margin: 20px;
}

#course-overview {
    text-align: center;
}

#course-overview .year {
    text-align: center;
    margin: 30px 0;
    overflow: auto;
}

#course-overview .year h1 {
    margin-bottom: 15px;
}

#course-overview .year .left, #course-overview .year .right {
    width: 50%;
    text-align: center;
}

#course-overview a {
    outline: none;
}

#course-overview .subject {
    width: 90%;
    height: 140px;
    margin: 10px 5%;

    display: inline-block;
}

#course-overview .data {
	background-color: rgba(102, 139, 179, 1);
}

#course-overview .programming {
	background-color: rgba(237, 125, 49, 1);
}

#course-overview .mathe {
	background-color: rgba(254, 192, 0, 1);
}

#course-overview .subject:hover {
    width: 80%;
    height: 130px;
    margin: 15px 5%;
    border-radius: 0px;
    transition: all 0.2s ease-in-out 0s;
}

#course-overview .subject:hover p {
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}

#course-overview .subject > p {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 15px;
    color: #FFF;
}

#course-overview .subject aside {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #F5F5F5;
    padding: 15px;
    border-radius: 0px;
    border: solid #E5E5E5;
    margin-left: -33%;
    width: 100%;
    z-index: 100;
}

#course-overview .subject aside p {
    font-size: 14px;
}

#course-overview .subject:hover aside {
    transition: all 0.4s ease-in-out 0s;
    opacity: 1;
    visibility: visible;
}

#course-overview .elective {
    background-color: rgba(112, 173, 71, 1);
}

#course-overview .groupproject {
    background-color: rgba(141, 141, 141, 1);
}

#course-overview .hx2 {
    height: 300px;
}

#course-overview .hx2:hover {
    height: 290px;
}

#course-overview .wx2 {
    width: 95%;
    margin-left: 0;
    margin-right: 0;
    clear: both;
}

#course-overview .wx2:hover {
    width: 90%;
}

@media (max-width: 1300px) {
    .wrap {
        margin-left: 30px;
        margin-right: 30px;
    }

    #navbar .container {
        width: auto;
    }
}

@media (max-width: 600px) {
    #index .summary {
        padding: 10px;
    }
}

@media (max-width: 500px) {
    #course-overview .subject > p {
        font-size: 14px;
    }

    #course-overview .years > div {
        width: 100%;
    }
}

@media (max-width: 390px) {
    #navbar .container {
        padding: 10px;
    }

    #navbar {
        padding: 10px;
    }

    #index .summary {
        padding: 0px;
    }
}

@media (max-width: 350px) {
    #navbar .container {
        padding: 5px;
    }

    #navbar {
        padding: 0px;
    }
}

h2 {
	font-size: 35px;
	margin-top: 20px;
	margin-bottom: 30px;
}
	
h5 {
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
}